@CHARSET "UTF-8";

body {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
}

table.list thead tr {
	background:
		url("http://download.jqueryui.com/themeroller/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png")
		50% 50% repeat-x #5C9CCC;
}

table.list td {
	border: 1px solid #C5DBEC;
}

table.list th {
	border: 1px solid #C5DBEC;
	color: #FFFFFF;
}

table.list {
	border-collapse: collapse;
	margin: 10px 0px;
}

.comment {
	margin: 0.4em 0em;
	padding: 0.1em;
	background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x
		scroll 50% bottom #FCFDFD;
	border: 1px solid #A6C9E2;
	border-radius: 5px;
	color: #222222;
}

.comment .author {
	font-size: 0.8em;
	font-weight: bold;
}

.comment .time {
	font-size: 0.7em;
}

.comment .title {
	font-size: 0.9em;
	display: block;
}

.comment .text {
	font-size: 0.8em;
}

.project a:link,
.subject a:link {
	color:black;
	text-decoration: none;
}

.project a:hover,
.subject a:hover {
	color: blue;
	text-decoration:underline;
}

.project .name {
	font-weight: bold;
}

input.field-error {
	border: 1px solid red;
}

span.field-error {
	color: red;
}

/*Membership states*/
ul.memberships {
	list-style: none;
}

.waiting_approval {
	color: gray;
}

.approved {
	color: #00C000;
}

.declined {
	color: #EB0000;
}

/*Pagination*/
.pagination-centered {
	text-align: center;
}

.pagination ul {
	list-style: none;
}

.pagination li {
	display: inline;
}

li.disabled {
	display: none;
}

.body-wrapper {
	float: left;
}

.buttons {
	margin: 0.75em 0em 0em;
}