<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Commons</title>
</head>
<body>
	<table>
		<tr th:fragment="label">
			<td><span class="label" th:text="${label}">Label:</span></td>
			<td><span class="value" th:text="${value}">Value</span></td>
		</tr>
	</table>
	<table>
		<tr th:fragment="labelLink">
			<td><span class="label" th:text="${label}">Label:</span></td>
			<td><a class="value"  th:href="${url}" th:text="${value}">Value</a></td>
		</tr>
	</table>
</body>
</html>