<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/redmond/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
	<link href="/css/main.css" rel="stylesheet" />
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/bupro.js"></script>
</head>
<body>
	<div th:fragment="menu">
		<a href="http://localhost:8080/" th:href="@{/subject/list/}" th:text="#{subject.list}">Subjects</a>
		<a href="http://localhost:8080/" th:href="@{/project/list/}" th:text="#{project.list}">Projects</a>
		<a href="http://localhost:8080/" th:href="@{/user/list/}" th:text="#{user.list}">Users</a>
	</div>
</body>
</html>