<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Bupro</title>
</head>
<body>
	<div th:fragment="menu">
		<a href="http://localhost:8080/" th:href="@{/project/list/}" th:text="#{project.list}">Projects</a>
		<a href="http://localhost:8080/" th:href="@{/user/list/}" th:text="#{users.list}">Users</a>
	</div>
</body>
</html>