<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/redmond/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
	<link href="/css/main.css" rel="stylesheet" />
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/bupro.js"></script>
	<script type="text/javascript">
		$(function() {
			$( "input[type=submit], input[type=button], a.button, button" ).button();
		});
	</script>
</head>
<body>
	<div th:fragment="menu">
		<div class="userpanel">
			<span sec:authentication="name">Username</span>
			<a class="button" href="login.html" th:href="@{/j_spring_security_logout}">Logout</a>
			<a class="button" href="http://localhost:8080/" th:href="@{'/user/view/'+${#authentication.name}}" th:text="#{user.profile}">my profile</a>
			<div th:include="commons :: lang" style="float:right;"></div>
		</div>
		<div class="menu">
			<a class="button" href="http://localhost:8080/" th:href="@{/course/list/}" th:text="#{course.list}">Subjects</a>
			<a class="button" href="http://localhost:8080/" th:href="@{/project/list/}" th:text="#{project.list}">Projects</a>
			<a class="button" href="http://localhost:8080/" th:href="@{/user/list/}" th:text="#{user.list}">Users</a>
		</div>
	</div>
</body>
</html>