<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{project(${project.name})}" >Project</title>
</head>
<body>
	<div th:include="header :: menu"></div>
	<h1 th:text="${project.name}"></h1>
	<div>
		<a th:if="${project.owner.equals(user)}" href="http://localhost:8080/" th:href="@{'/project/edit/' + ${project.id}}" th:text="#{edit}">Edit</a>
	</div>
	<div>
		<span th:text="#{owner}">owner:</span>
		<span th:text="#{format.fullname(${project.owner.firstName}, ${project.owner.lastName})}">Karel Novak</span>
	</div>
	<div>
		<span th:text="#{creation.time}">created:</span> <span th:text="${#dates.format(project.creationTime,'yyyy-MM-dd')}">01.02.2000</span>
	</div>
	<div>
		<div>
			<span th:text="#{project.start}">Start:</span><span th:text="${project.startSemester.name}">Winter Semester 20XX/20XY</span>
		</div>
		<div>
			<span th:text="#{project.end}">End:</span><span th:text="${project.endSemester.name}">Summer Semester 20XX/20XY</span>
		</div>
	</div>
	<div>
		<span th:text="#{project.capacity(${project.approvedCount}, ${project.waitingApprovalCount}, ${project.capacity})}">Capacity: 0(1)/1</span>
	</div>
	<div>
		<h3 th:text="#{project.description}">description:</h3>
		<span th:text="${project.description == null} ? #{project.nodescription} : ${project.description}">Here is text describing project goals</span>
	</div>
	<div>
		<span th:each="tag : ${project.tags}"><a th:href="@{'/tag/' + ${tag.id}}" th:text="${tag.name}">Tag1</a></span>
	</div>
	<div>
		<h2 th:text="#{project.members}" >Members</h2>
		<ul class="memberships" th:if="${not #lists.isEmpty(project.memberships)}">
			<li th:each="membership : ${project.memberships}" th:class="${#strings.toLowerCase(membership.membershipState)}">
				<span th:text="#{format.fullname(${membership.user.firstName}, ${membership.user.lastName})}">Milan Vomacka</span>
			</li>
		</ul>
		<span th:if="${#lists.isEmpty(project.memberships)}"  th:text="#{project.members.none}">This project has no members yet.</span>
		<span th:if="${project.capacityFull}" th:text="#{project.members.capacity.full}">Sorry, project capacity is full.</span>
		<a th:unless="${project.capacityFull or project.owner.equals(user)}" href="#" th:href="@{'/project/join/' + ${project.id}}" th:text="#{join}">Join</a>
	</div>
	<div>
		<h2 th:text="#{comments}" >Comments</h2>
		<div id="comments">
			<div class="comment" th:each="comment : ${project.comments}">
				<div>
					<span class="author" th:text="#{format.fullname(${comment.user.firstName},${comment.user.lastName})}">Comment-Author</span>
					<span class="title" th:text="${comment.title}">Comment-Title</span>
					<span class="time" th:text="${#dates.format(comment.creationTime,'yyyy-MM-dd HH:mm')}">Creation Time</span>
				</div>
				<div class="text" th:text="${comment.text}">Comment-Text</div>
			</div>
		</div>
		<div>
			<h3 th:text="#{comment.new}" >New Comment</h3>
			<form action="#">
				<table>
					<tbody>
						<tr>
							<td><label for="comment-title" th:text="#{comment.title}" >title:</label></td>
							<td><input id="comment-title" type="text" /></td>
						</tr>
						<tr>
							<td><label for="comment-text" th:text="#{comment.text}">comment:</label></td>
							<td><textarea id="comment-text"></textarea></td>
						</tr>
					</tbody>
				</table>
				<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					function submitComment() {
						var id = /*[[${project.id}]]*/ 0;
						var title = $("#comment-title")[0].value;
						var text = $("#comment-text")[0].value;
						client.comment('project', id , title, text);
					}
				/*]]>*/
				</script>
				<input type="button" value="Comment" th:value="#{comment}" onclick="submitComment();" />
			</form>
		</div>
	</div>
</body>
</html>