<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Project Tags</title>
</head>
<body>
	<table th:fragment="projectList" class="list">
		<thead>
			<tr>
				<th></th>
				<th>
					<div class="header">
						<span th:text="#{project.name}">Project Name</span>
					</div>
				</th>
				<th>
					<div class="header">
						<span th:text="#{project.course}">Project Course</span>
					</div>
				</th>
				<th>
					<div class="header">
						<span th:text="#{project.creation.time}">Created</span>
					</div>
				</th>
				<th><div class="header">
						<span th:text="#{project.start}">Begins</span>
					</div></th>
				<th><div class="header">
						<span th:text="#{project.end}">Ends</span>
					</div></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}" class="project">
				<td><a th:if="${project.owner.equals(user)}" href="http://localhost:8080/" th:href="@{'/project/edit/' + ${project.id}}"><img
						th:src="@{/images/edit.png}" height="19" width="19" /></a></td>
				<td><a class="name" href="http://localhost:8080/" th:href="@{'/project/view/' + ${project.id}}" th:text="${project.name}">Project
						name</a></td>
				<td><a class="course" th:href="@{/project/list(filter.course=${project.course.code})}" th:text="${project.course.name}">Project
						Course</a></td>
				<td th:text="${project.creationTime}">Created</td>
				<td th:text="${project.startSemester.name}">Begins in semester</td>
				<td th:text="${project.endSemester.name}">Ends in semester</td>
			</tr>
		</tbody>
	</table>
</body>
</html>