<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{project.list}" >Project List</title>
</head>
<body>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			var filter = /*[[${!filter.isEmpty()}]]*/ false;
			if (filter) {
				$("#filter").accordion({
					collapsible: true
				});
			} else {
				$("#filter").accordion({
					active: false,
					collapsible: true
				});
			}
		});
		/*]]>*/
	</script>
	<div class="body-wrapper">
		<div th:include="header :: menu"></div>
		<h1 th:text="#{project.list}">Project List</h1>
		<div>
			<a class="button" th:if="${user.teacher}" href="http://localhost:8080/" th:href="@{'/project/create/'}" th:text="#{create}">Create</a>
		</div>
		<div id="filter">
			<h3 th:text="#{filter}">Filter</h3>
			<div class="data-filter" th:with="url=@{/project/list}">
				<script type="text/javascript" th:inline="javascript">
					/*<![CDATA[*/
					$(function() {
					    var filter_url = /*[[${url}]]*/ ./project/list;
						$('#apply').click(function() {
							var params = $.param({
								'filter.name' : $.trim($('#filter_name').val()),
								'filter.user' : $.trim($('#filter_user').val()),
								'filter.tag' : $.trim($('#filter_tag').val()),
								'filter.subject' : $.trim($('#filter_subject :selected').val())
							});
							$(this).attr('href', filter_url + '?' + params);
							return true; //default action
						});
					});
					/*]]>*/
				</script>
				<form action="#" >
					<table>
						<tbody>
							<tr>
								<td><label for="filter_name" th:text="#{project.name}">name:</label></td>
								<td><input id="filter_name" type="text" th:value="${filter.filter['name']}" /></td>
							</tr>
							<tr>
								<td>
									<span th:include="autocompletion :: simple_ajax" th:with="selector='#filter_user',url=@{/user/json}"></span>
									<label for="filter_user" th:text="#{project.leader}">user:</label>
								</td>
								<td><input id="filter_user" type="text" th:value="${filter.filter['user']}" /></td>
							</tr>
							<tr>
								<td>
									<span th:include="autocompletion :: simple" th:with="selector='#filter_tag',values=${#strings.listToString(tags)}"></span>
									<label for="filter_tag" th:text="#{project.tag}">tag:</label>
								</td>
								<td><input id="filter_tag" type="text" th:value="${filter.filter['tag']}" /></td>
							</tr>
							<tr>
								<td>
									<label for="filter_subject" th:text="#{project.subject}">subject:</label>
								</td>
								<td>
									<select id="filter_subject" >
										<option value="" th:text="#{noselection}" th:attr="selected=${(filter.filter['subject'] == null or #strings.isEmpty(filter.filter['subject'])) ? 'selected' : ''}">No selection</option>
										<option th:each="subject : ${subjects}" th:value="${subject.name}" th:text="${subject.name}" th:attr="selected=${(filter.filter['subject'] != null and #strings.startsWith(filter.filter['subject'], subject.name)) ? 'selected' : ''}">Subject 1</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<div class="buttons">
					<a class="button" id="apply" th:text="#{filter.apply}">Filter</a>
					<a class="button" th:href="@{/project/list}" th:text="#{filter.clear}">Clear</a>
				</div>
			</div>
		</div>
		<table class="list">
			<thead>
				<tr th:with="page=${projects},url=@{/project/list}">
					<th></th>
					<th>
						<div class="header">
							<span th:with="prop='name'" th:include="pagination :: sort"></span>
							<span th:text="#{project.name}">Project Name</span>
						</div>
					</th>
					<th>
						<div class="header">
							<span th:with="prop='owner'" th:include="pagination :: sort"></span>
							<span th:text="#{project.leader}">Project Leader</span>
						</div>
					</th>
					<th>
						<div class="header">
							<span th:with="prop='course'" th:include="pagination :: sort"></span>
							<span th:text="#{project.subject}">Project Subject</span>
						</div>
					</th>
					<th>
						<div class="header">
							<span th:with="prop='creationTime'" th:include="pagination :: sort"></span>
							<span th:text="#{project.creation.time}">Created</span>
						</div>
					</th>
					<th><div class="header"><span th:text="#{project.start}">Begins</span></div></th>
					<th><div class="header"><span th:text="#{project.end}">Ends</span></div></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projects}" class="project">
					<td>
						<a th:if="${project.owner.equals(user)}" href="http://localhost:8080/" th:href="@{'/project/edit/' + ${project.id}}" ><img th:src="@{/images/edit.png}" height="19" width="19" /></a>
					</td>
					<td><a class="name" href="http://localhost:8080/" th:href="@{'/project/view/' + ${project.id}}" th:text="${project.name}">Project name</a></td>
					<td><a class="owner" th:href="@{'/user/view/' + ${project.owner.id}}" th:text="#{format.fullname(${project.owner.firstName}, ${project.owner.lastName})}">Project Leader</a></td>
					<td><a class="subject" th:href="@{/project/list(filter.subject=${project.course.code})}" th:text="${project.course.name}">Project Course</a></td>
					<td th:text="${project.creationTime}">Created</td>
					<td th:text="${semester[project.startSemester]}">Begins in semester</td>
					<td th:text="${semester[project.endSemester]}">Ends in semester</td>
				</tr>
			</tbody>
		</table>
		<div th:include="pagination :: paginationbar" th:with="page=${projects},url=@{/project/list},params=${filter.filter}" ></div>
	</div>
</body>
</html>