<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{project(${project.name})}" >Project</title>
</head>
<body th:object="${project}">
	<div th:include="header :: menu"></div>
	<h1 th:text="*{name}"></h1>
	<div class="project-actions" >
		<a th:if="${project.owner.equals(user)}" class="button" href="http://localhost:8080/" th:href="@{'/project/edit/' + *{id}}" th:text="#{edit}">Edit</a>
		<a class="button" href="http://localhost:8080/" th:href="@{'/project/log/' + *{id}}" th:text="#{project.log}">Project log</a>
		<a th:if="${project.owner.equals(user)}" class="button" href="http://localhost:8080/" th:href="@{'/project/email/' + *{id}}" th:text="#{project.email}">Project email</a>
	</div>
	<div th:include="commons :: label" th:with="label=#{owner},value=#{format.fullname(*{owner.firstName}, *{owner.lastName})}"></div>
	<div th:include="commons :: label" th:with="label=#{creation.time},value=*{#dates.format(creationTime,'yyyy-MM-dd')}"></div>
	<div th:include="commons :: label" th:with="label=#{project.start},value=*{startSemester.name}"></div>
	<div th:include="commons :: label" th:with="label=#{project.end},value=*{endSemester.name}"></div>
	<div th:include="commons :: label" th:with="label=#{project.end},value=#{project.capacity(*{approvedCount}, *{waitingApprovalCount}, *{capacity})}"></div>
	<h3 th:text="#{project.description}">description:</h3>
	<div>
		<span th:text="*{description == null} ? #{project.nodescription} : *{description}">Here is text describing project goals</span>
	</div>
	<h3 th:text="#{project.tags}">tags:</h3>
	<div>
		<span th:each="tag : *{tags}"><a th:href="@{/project/list/(filter.tag=${tag.name})}" th:text="${tag.name}">Tag1</a></span>
	</div>
	<div>
		<h2 th:text="#{project.members}" >Members</h2>
		<ul class="memberships" th:unless="*{#lists.isEmpty(memberships)}">
			<li th:each="membership : *{memberships}" th:class="${#strings.toLowerCase(membership.membershipState)}">
				<span th:text="#{format.fullname(${membership.user.firstName}, ${membership.user.lastName})}">Milan Vomacka</span>
				<span th:text="${#dates.format(membership.created,'yyyy-MM-dd HH:mm')}">Creation Time</span>
				<span th:if="${project.owner.equals(user)}" >
					<a class="button" href="#" th:href="@{'/user/view/' + ${membership.user.id}}" th:text="#{detail}" >detail</a>
					<a class="button" href="#" th:href="@{/project/membership/approve(projectId=*{id},userId=${membership.user.id})}" th:text="#{member.accept}" >accept</a>
					<a class="button" href="#" th:href="@{/project/membership/decline(projectId=*{id},userId=${membership.user.id})}" th:text="#{member.decline}" >decline</a>
				</span>
			</li>
		</ul>
		<span th:if="*{#lists.isEmpty(memberships)}"  th:text="#{project.members.none}">This project has no members yet.</span>
		<span th:if="*{capacityFull}" th:text="#{project.members.capacity.full}">Sorry, project capacity is full.</span>
		<a class="button" th:unless="${project.capacityFull or project.owner.equals(user) or project.hasMember(user)}" href="#" th:href="@{'/project/join/' + *{id}}" th:text="#{join}">Join</a>
	</div>
	<div>
		<h2 th:text="#{comments}" >Comments</h2>
		<div id="comments">
			<div class="comment" th:each="comment : *{comments}">
				<div>
					<span class="author" th:text="#{format.fullname(${comment.user.firstName},${comment.user.lastName})}">Comment-Author</span>
					<span class="time" th:text="${#dates.format(comment.creationTime,'yyyy-MM-dd HH:mm')}">Creation Time</span>
					<span class="title" th:text="${comment.title}">Comment-Title</span>
				</div>
				<div class="text" th:text="${comment.text}">Comment-Text</div>
			</div>
		</div>
		<div>
			<h3 th:text="#{comment.new}" >New Comment</h3>
			<form action="#">
				<table>
					<tbody>
						<tr>
							<td><label for="comment-title" th:text="#{comment.title}" >title:</label></td>
							<td><input id="comment-title" type="text" /></td>
						</tr>
						<tr>
							<td><label for="comment-text" th:text="#{comment.text}">comment:</label></td>
							<td><textarea id="comment-text"></textarea></td>
						</tr>
					</tbody>
				</table>
				<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					function submitComment() {
						var id = /*[[${project.id}]]*/ 0;
						var title = $("#comment-title")[0].value;
						var text = $("#comment-text")[0].value;
						client.comment('project', id , title, text);
						$("#comment-title")[0].value = "";
						$("#comment-text")[0].value = "";
					}
				/*]]>*/
				</script>
				<input type="button" value="Comment" th:value="#{comment}" onclick="submitComment();" />
			</form>
		</div>
	</div>
</body>
</html>