<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{project(${project.name == null ? '' : project.name})}" >Project</title>
</head>
<body>
	<div th:include="header :: menu"></div>
	<form action="#" th:action="@{/project/save}" th:object="${project}" method="post">
		<input type="hidden" th:field="*{id}" />
		<table>
			<tbody>
				<tr>
					<td><label th:for="${'name'}">name:</label></td>
					<td>
						<input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? 'field-error'" />
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field-error" >Invalid name</span>
					</td>
				</tr>
				<tr>
					<td><label th:for="${'subject'}">subject:</label></td>
					<td>
						<select th:field="*{subject}" >
							<option th:each="subject : ${subjectList}" th:value="${subject.id}" th:text="${subject.name}">Subject 1</option>
						</select>
						<span class="error" th:errors="*{subject}"></span>
					</td>
				</tr>
				<tr>
					<td><label th:for="${'description'}">description:</label></td>
					<td><textarea th:field="*{description}"></textarea></td>
				</tr>
				<tr>
					<td><label th:for="${'tags'}">tags:</label></td>
					<td>
						<span th:include="autocompletion :: multi" th:with="availableTags=${#strings.listToString(tags)}"></span>
						<input type="text" th:field="*{tags}" />
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Save" th:value="#{save}" />
	</form>
</body>
</html>