<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{project.list}" >Project List</title>
</head>
<body>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#filter").accordion({
				collapsible: true
			});
		});
		/*]]>*/
	</script>
	<div class="body-wrapper">
		<div th:include="header :: menu"></div>
		<h1 th:text="#{project.list}">Project List</h1>
		<div>
			<a th:if="${user.teacher}" href="http://localhost:8080/" th:href="@{'/project/create/'}" th:text="#{create}">Create</a>
		</div>
		<div id="filter">
			<h3 th:text="#{filter}">Filter</h3>
			<div class="data-filter" th:with="url=@{/project/list}">
				<script type="text/javascript" th:inline="javascript">
					/*<![CDATA[*/
					$(function() {
					    var filter_url = /*[[${url}]]*/ ./project/list;
						$('#apply').click(function() {
							var params = $.param({
								'filter.name' : $.trim($('#filter_name').val()),
								'filter.user' : $.trim($('#filter_user').val())
							});
							$(this).attr('href', filter_url + '?' + params);
							return true; //default action
						});
					});
					/*]]>*/
				</script>
				<form action="#" >
					<div>
						<label for="filter_name" th:text="#{project.name}">name:</label>
						<input id="filter_name" type="text" th:value="${filter.filter['name']}" />
					</div>
					<div>
						<span th:include="autocompletion :: simple_ajax" th:with="selector='#filter_user',url=@{/user/json}"></span>
						<label for="filter_user" th:text="#{project.leader}">user:</label>
						<input id="filter_user" type="text" th:value="${filter.filter['user']}" />
					</div>
				</form>
				<div class="buttons">
					<a id="apply" th:text="#{filter.apply}">Filter</a>
					<a th:href="@{/project/list}" th:text="#{filter.clear}">Clear</a>
				</div>
			</div>
		</div>
		<table class="list">
			<thead>
				<tr>
					<th></th>
					<th th:text="#{project.name}">Project Name</th>
					<th th:text="#{project.leader}">Project Leader</th>
					<th th:text="#{project.creation.time}">Created</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projects.content}">
					<td>
						<a href="http://localhost:8080/" th:href="@{'/project/view/' + ${project.id}}" th:text="#{detail}">Detail</a>
						<a th:if="${project.owner.equals(user)}" href="http://localhost:8080/" th:href="@{'/project/edit/' + ${project.id}}" th:text="#{edit}">Edit</a>
					</td>
					<td th:text="${project.name}" class="project-name" >Project name</td>
					<td th:text="#{format.fullname(${project.owner.firstName}, ${project.owner.lastName})}">Project Leader</td>
					<td th:text="${project.creationTime}">Created</td>
				</tr>
			</tbody>
		</table>
		<div th:include="pagination :: paginationbar" th:with="page=${projects},url=@{list},params=${filter.filter}" ></div>
	</div>
</body>
</html>