<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{sbuject.list}" >Subject List</title>
</head>
<body>
	<div th:include="header :: menu"></div>
	<h1 th:text="#{subject.list}">Subject List</h1>
	<a href="http://localhost:8080/" th:href="@{'/subject/create/'}" th:text="#{create}">Create</a>
	<table>
		<thead>
			<tr>
				<th></th>
				<th th:text="#{subject.name}">Subject Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="subject : ${subjectList}">
				<td>
					<a href="http://localhost:8080/" th:href="@{'/subject/view/' + ${subject.id}}" th:text="#{detail}">Detail</a>
					<a href="http://localhost:8080/" th:href="@{'/subject/edit/' + ${subject.id}}" th:text="#{edit}">Edit</a>
				</td>
				<td th:text="${subject.name}">Subject name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>