<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
	<title th:text="#{user.list}" >User List</title>
</head>
<body>
<div class="body-wrapper">
	<div th:include="header :: menu"></div>
	<h1 th:text="#{user.list}">User List</h1>
	<table class="list">
		<thead>
			<tr th:with="page=${users},url=@{/user/list}" >
				<th></th>
				<th>
					<div class="header">
						<span th:with="prop='lastName'" th:include="pagination :: sort"></span>
						<span th:text="#{user.name}">Name</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}" th:unless="${user.username.equals('admin')}">
				<td>
					<a href="http://localhost:8080/" th:href="@{'/user/view/' + ${user.id}}" th:text="#{detail}">Detail</a>
				</td>
				<td th:text="${user.fullName}">name</td>
			</tr>
		</tbody>
	</table>
	<div th:include="pagination :: paginationbar" th:with="page=${users},url=@{/user/list},params=${filter.filter}" ></div>
</div>
</body>
</html>